<h1>New movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>
<!--<form action="<%#= new_movie_path %>" method="post" data-turbo="false">
  <input name="authenticity_token" value="<%#= form_authenticity_token %>" type="hidden">-->
<!--
    form_with(model: @post, local: true) binds the form to the @post instance.
    It automatically determines whether to create a new post or update an existing one based on @post. If @post is a new record (not saved in the database), it will send a POST request to the appropriate route. If @post is an existing record, it will send a PUT/PATCH request to update that record.
-->
<!--form builder object.-->
<%= form_with(model: @movie, data: { turbo: false }) do |form| %>

  <div>
    <%#= label_tag "Title" %>  <!--create (for="Title")--> 
    <%= form.label :title %>

<!--    <input type="text" id="title_box" name="query_title" value="<%# #= @the_movie.title %>">-->
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>

<!--    <textarea id="description_box" name="query_description" rows="3"><%# #= @the_movie.description %></textarea>-->
    <%= form.text_area :description, { rows: 3 } %>
  </div>

  <!--<button>
    Create Movie
  </button>-->
  <%= form.button%>
  <!--</form>-->
<% end %>
